 .u-section-1 {
  min-height: 5093px;
}

.u-section-1 .u-video-1 {
  height: 1487px;
  width: 2714px;
  margin: 6px -347px 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 1109px;
  width: 2162px;
  margin-top: -570px;
  margin-left: -2980px;
  margin-bottom: 0;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 2389px;
  height: 228px;
  margin: 2393px auto 0 -204px;
}

.u-section-1 .u-shape-1 {
  width: 2389px;
  height: 228px;
  --color-var: #202328;
  background-image: linear-gradient(#1a1a1a, rgba(219,84,90,0));
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
}

.u-section-1 .u-shape-2 {
  width: 2494px;
  height: 444px;
  margin: -8px auto 0 calc(((100% - 1920px) / 2)  + -282px);
}

.u-section-1 .u-group-1 {
  width: 1304px;
  min-height: 4907px;
  margin: -5025px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 259px;
  width: 351px;
  margin: 20px auto 0 47px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: -463px;
  left: -4757px;
}

.u-section-1 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-1 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-2 {
  height: 276px;
  width: 361px;
  margin: -105px 410px 0 auto;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-2 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-2 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-3 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-3 {
  height: 276px;
  width: 361px;
  margin: 12px auto 0 20px;
}

.u-section-1 .u-carousel-indicators-3 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-3 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-3 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-5 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-6 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-4 {
  height: 285px;
  width: 373px;
  margin: -173px 307px 0 auto;
}

.u-section-1 .u-carousel-indicators-4 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-4 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-4 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-7 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-8 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-5 {
  height: 303px;
  width: 243px;
  margin: 58px 62px 0 auto;
}

.u-section-1 .u-carousel-indicators-5 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-5 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-5 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-9 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-10 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-6 {
  height: 221px;
  width: 289px;
  margin: -189px 482px 0 auto;
}

.u-section-1 .u-carousel-indicators-6 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-6 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-6 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-11 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-12 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-7 {
  height: 235px;
  width: 308px;
  margin: -390px auto 0 58px;
}

.u-section-1 .u-carousel-indicators-7 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-7 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-7 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-13 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-14 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-8 {
  height: 249px;
  width: 344px;
  margin: -1062px 20px 0 auto;
}

.u-section-1 .u-carousel-indicators-8 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-8 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-8 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-15 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-16 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-image-1 {
  width: 151px;
  height: 142px;
  margin: 22px auto 0 301px;
}

.u-section-1 .u-image-2 {
  width: 151px;
  height: 142px;
  margin: -86px 87px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 151px;
  height: 142px;
  margin: 751px 115px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 151px;
  height: 142px;
  margin: -45px 529px 0 auto;
}

.u-section-1 .u-gallery-9 {
  height: 258px;
  width: 337px;
  margin: -83px auto 0 115px;
}

.u-section-1 .u-carousel-indicators-9 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-9 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-9 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-17 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-18 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-10 {
  height: 251px;
  width: 328px;
  margin: -163px 20px 0 auto;
}

.u-section-1 .u-carousel-indicators-10 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-10 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-10 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-19 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-20 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-image-5 {
  width: 151px;
  height: 142px;
  margin: -30px auto 0 229px;
}

.u-section-1 .u-gallery-11 {
  height: 196px;
  width: 257px;
  margin: -156px auto 0 497px;
}

.u-section-1 .u-carousel-indicators-11 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-11 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-11 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-21 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-22 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-image-6 {
  width: 151px;
  height: 142px;
  margin: 0 154px 0 auto;
}

.u-section-1 .u-gallery-12 {
  height: 212px;
  width: 278px;
  margin: -133px auto 0 58px;
}

.u-section-1 .u-carousel-indicators-12 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-12 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-12 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-12 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-23 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-24 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-13 {
  height: 184px;
  width: 241px;
  margin: -129px 373px 0 auto;
}

.u-section-1 .u-carousel-indicators-13 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-13 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-13 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-13 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-25 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-26 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-image-7 {
  width: 151px;
  height: 142px;
  margin: 143px auto 0 125px;
}

.u-section-1 .u-gallery-14 {
  height: 276px;
  width: 361px;
  margin: -166px auto 0 414px;
}

.u-section-1 .u-carousel-indicators-14 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-14 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-14 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-14 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-27 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-28 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-15 {
  height: 200px;
  width: 261px;
  margin: -313px 44px 0 auto;
}

.u-section-1 .u-carousel-indicators-15 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-15 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-15 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-29 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-30 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-16 {
  height: 276px;
  width: 361px;
  margin: 202px auto 0 103px;
}

.u-section-1 .u-carousel-indicators-16 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-16 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-16 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-16 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-31 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-32 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-17 {
  height: 276px;
  width: 361px;
  margin: -284px 126px 0 auto;
}

.u-section-1 .u-carousel-indicators-17 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-17 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-17 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-17 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-33 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-34 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-18 {
  height: 241px;
  width: 411px;
  margin: 105px auto 0 414px;
}

.u-section-1 .u-carousel-indicators-18 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-18 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-18 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-18 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-35 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-36 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-19 {
  height: 349px;
  width: 277px;
  margin: -87px 68px 0 auto;
}

.u-section-1 .u-carousel-indicators-19 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-19 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-19 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-19 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-37 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-38 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-20 {
  height: 307px;
  width: 354px;
  margin: -24px auto 0 92px;
}

.u-section-1 .u-carousel-indicators-20 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-20 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-20 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-20 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-39 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-40 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-21 {
  height: 240px;
  width: 314px;
  margin: -436px 441px 0 auto;
}

.u-section-1 .u-carousel-indicators-21 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-21 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-21 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-21 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-41 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-42 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-22 {
  height: 229px;
  width: 300px;
  margin: 154px 400px 0 auto;
}

.u-section-1 .u-carousel-indicators-22 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-22 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-22 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-22 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-43 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-44 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-image-8 {
  width: 151px;
  height: 142px;
  margin: -668px auto 0 125px;
}

.u-section-1 .u-image-9 {
  width: 151px;
  height: 142px;
  margin: -308px auto 0 171px;
}

.u-section-1 .u-image-10 {
  width: 151px;
  height: 142px;
  margin: 626px auto 0 167px;
}

.u-section-1 .u-image-11 {
  width: 151px;
  height: 142px;
  margin: -9px auto 0 544px;
}

.u-section-1 .u-image-12 {
  width: 151px;
  height: 142px;
  margin: -1240px 183px 0 auto;
}

.u-section-1 .u-image-13 {
  width: 151px;
  height: 142px;
  margin: 564px 161px 0 auto;
}

.u-section-1 .u-gallery-23 {
  height: 276px;
  width: 361px;
  margin: 401px auto 0 58px;
}

.u-section-1 .u-carousel-indicators-23 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-23 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-23 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-23 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-45 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-46 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-24 {
  height: 276px;
  width: 361px;
  margin: -379px 87px 0 auto;
}

.u-section-1 .u-carousel-indicators-24 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-24 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-24 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-24 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-47 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-48 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-image-14 {
  width: 290px;
  height: 206px;
  transition-duration: 0.5s;
  margin: 284px auto 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 978px;
  margin-top: -1396px;
  margin-bottom: 60px;
  margin-left: 2056px;
  width: 2020px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 3983px;
  }

  .u-section-1 .u-video-1 {
    height: 515px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 402px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 1785px;
    height: 141px;
    margin-top: 2357px;
    margin-left: -372px;
    margin-right: -372px;
  }

  .u-section-1 .u-shape-1 {
    width: 1785px;
    height: 141px;
  }

  .u-section-1 .u-shape-2 {
    width: 1794px;
    margin-top: 0;
    margin-left: -377px;
    margin-right: -377px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-top: -5013px;
  }

  .u-section-1 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 0;
  }

  .u-section-1 .u-gallery-2 {
    margin-top: 10px;
    margin-right: 55px;
  }

  .u-section-1 .u-carousel-item-2 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-3 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-4 {
    right: 0;
  }

  .u-section-1 .u-gallery-3 {
    margin-top: -262px;
    margin-left: 32px;
  }

  .u-section-1 .u-carousel-item-3 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-5 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-6 {
    right: 0;
  }

  .u-section-1 .u-gallery-4 {
    margin-top: 103px;
    margin-right: 28px;
  }

  .u-section-1 .u-carousel-item-4 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-7 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-8 {
    right: 0;
  }

  .u-section-1 .u-gallery-5 {
    margin-top: 32px;
    margin-right: auto;
    margin-left: 332px;
  }

  .u-section-1 .u-carousel-item-5 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-9 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-10 {
    right: 0;
  }

  .u-section-1 .u-gallery-6 {
    margin-top: -221px;
    margin-right: auto;
    margin-left: 14px;
  }

  .u-section-1 .u-carousel-item-6 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-11 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-12 {
    right: 0;
  }

  .u-section-1 .u-gallery-7 {
    margin-top: -673px;
    margin-left: 14px;
  }

  .u-section-1 .u-carousel-item-7 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-13 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-14 {
    right: 0;
  }

  .u-section-1 .u-gallery-8 {
    margin-top: -838px;
  }

  .u-section-1 .u-carousel-item-8 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-15 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-16 {
    right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -152px;
    margin-right: 391px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 401px;
    margin-right: auto;
    margin-left: 348px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 90px;
    margin-right: auto;
    margin-left: 92px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 335px;
    margin-right: auto;
    margin-left: 375px;
  }

  .u-section-1 .u-gallery-9 {
    margin-top: -142px;
    margin-left: 32px;
  }

  .u-section-1 .u-carousel-item-9 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-17 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-18 {
    right: 0;
  }

  .u-section-1 .u-gallery-10 {
    margin-top: -251px;
    margin-right: 45px;
  }

  .u-section-1 .u-carousel-item-10 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-19 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-20 {
    right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: 27px;
    margin-left: 24px;
  }

  .u-section-1 .u-gallery-11 {
    margin-top: -794px;
    margin-right: 44px;
    margin-left: auto;
  }

  .u-section-1 .u-carousel-item-11 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-21 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-22 {
    right: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: 696px;
  }

  .u-section-1 .u-gallery-12 {
    margin-top: -368px;
    margin-right: 245px;
    margin-left: auto;
  }

  .u-section-1 .u-carousel-item-12 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-23 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-24 {
    right: 0;
  }

  .u-section-1 .u-gallery-13 {
    margin-top: -28px;
    margin-right: auto;
    margin-left: 35px;
  }

  .u-section-1 .u-carousel-item-13 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-25 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-26 {
    right: 0;
  }

  .u-section-1 .u-image-7 {
    margin-top: 100px;
    margin-left: 109px;
  }

  .u-section-1 .u-gallery-14 {
    margin-top: -54px;
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-carousel-item-14 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-27 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-28 {
    right: 0;
  }

  .u-section-1 .u-gallery-15 {
    margin-top: -505px;
    margin-right: auto;
  }

  .u-section-1 .u-carousel-item-15 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-29 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-30 {
    right: 0;
  }

  .u-section-1 .u-gallery-16 {
    margin-top: 138px;
    margin-left: 53px;
  }

  .u-section-1 .u-carousel-item-16 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-31 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-32 {
    right: 0;
  }

  .u-section-1 .u-gallery-17 {
    margin-top: 1px;
    margin-right: 68px;
  }

  .u-section-1 .u-carousel-item-17 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-33 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-34 {
    right: 0;
  }

  .u-section-1 .u-gallery-18 {
    margin-top: -167px;
    margin-left: 41px;
  }

  .u-section-1 .u-carousel-item-18 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-35 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-36 {
    right: 0;
  }

  .u-section-1 .u-gallery-19 {
    margin-top: 221px;
  }

  .u-section-1 .u-carousel-item-19 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-37 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-38 {
    right: 0;
  }

  .u-section-1 .u-gallery-20 {
    margin-top: -127px;
    margin-left: 62px;
  }

  .u-section-1 .u-carousel-item-20 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-39 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-40 {
    right: 0;
  }

  .u-section-1 .u-gallery-21 {
    margin-top: -694px;
    margin-right: auto;
    margin-left: 252px;
  }

  .u-section-1 .u-carousel-item-21 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-41 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-42 {
    right: 0;
  }

  .u-section-1 .u-gallery-22 {
    margin-top: 473px;
    margin-right: 45px;
  }

  .u-section-1 .u-carousel-item-22 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-43 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-44 {
    right: 0;
  }

  .u-section-1 .u-image-8 {
    margin-top: -737px;
    margin-left: 31px;
  }

  .u-section-1 .u-image-9 {
    margin-top: -389px;
    margin-left: 80px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 656px;
    margin-left: 301px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 420px;
    margin-right: 131px;
    margin-left: auto;
  }

  .u-section-1 .u-image-12 {
    margin-top: -1507px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 439px;
    margin-right: 278px;
  }

  .u-section-1 .u-gallery-23 {
    margin-top: 272px;
    margin-left: 61px;
  }

  .u-section-1 .u-carousel-item-23 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-45 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-46 {
    right: 0;
  }

  .u-section-1 .u-gallery-24 {
    margin-top: -226px;
    margin-right: 97px;
  }

  .u-section-1 .u-carousel-item-24 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-47 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-48 {
    right: 0;
  }

  .u-section-1 .u-image-14 {
    margin-top: 195px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: -1037px;
    margin-left: calc(((100% - 940px) / 2));
    width: 940px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 3841px;
  }

  .u-section-1 .u-video-1 {
    height: 394px;
    width: 720px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 1027px;
    height: 168px;
    margin-right: 0;
    margin-left: -77px;
  }

  .u-section-1 .u-shape-1 {
    width: 1027px;
    height: 168px;
  }

  .u-section-1 .u-shape-2 {
    width: 720px;
    margin-right: 0;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: -4965px;
  }

  .u-section-1 .u-gallery-2 {
    margin-top: 111px;
    margin-right: -48px;
  }

  .u-section-1 .u-gallery-3 {
    margin-top: -363px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: -1396px;
    margin-left: calc(((100% - 720px) / 2));
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 3726px;
  }

  .u-section-1 .u-video-1 {
    height: 296px;
    width: 540px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 1411px;
    height: 182px;
    margin-left: -293px;
  }

  .u-section-1 .u-shape-1 {
    width: 1411px;
    height: 182px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -4979px;
  }

  .u-section-1 .u-gallery-5 {
    margin-left: 297px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 389px;
  }

  .u-section-1 .u-gallery-21 {
    margin-left: 226px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: calc(((100% - 540px) / 2));
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 3597px;
  }

  .u-section-1 .u-video-1 {
    height: 186px;
    width: 340px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 679px;
    height: 201px;
    margin-left: -159px;
  }

  .u-section-1 .u-shape-1 {
    width: 679px;
    height: 201px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -4998px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-4 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-5 {
    margin-left: 97px;
  }

  .u-section-1 .u-gallery-8 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-right: 189px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 189px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 189px;
  }

  .u-section-1 .u-gallery-9 {
    margin-left: 3px;
  }

  .u-section-1 .u-gallery-10 {
    margin-right: 12px;
  }

  .u-section-1 .u-gallery-12 {
    margin-right: 62px;
  }

  .u-section-1 .u-gallery-14 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-16 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-17 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-18 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-19 {
    margin-right: 63px;
  }

  .u-section-1 .u-gallery-20 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-21 {
    margin-left: 26px;
  }

  .u-section-1 .u-gallery-22 {
    margin-right: 40px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 189px;
  }

  .u-section-1 .u-image-13 {
    margin-right: 189px;
  }

  .u-section-1 .u-gallery-23 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-24 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: calc(((100% - 340px) / 2));
    width: 340px;
  }
}

.u-section-1 .u-image-14,
.u-section-1 .u-image-14:before,
.u-section-1 .u-image-14 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-14.u-image-14.u-image-14:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-14.u-image-14.u-image-14.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}body{
  background-color:black;
} 