 .u-section-1 {
  min-height: 5108px;
}

.u-section-1 .u-video-1 {
  height: 1539px;
  width: 2539px;
  margin: -23px auto 0 calc(((100% - 1920px) / 2)  + -243px);
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 1109px;
  width: 2162px;
  margin: -1584px -71px 0;
}

.u-section-1 .u-gallery-1 {
  height: 259px;
  width: 351px;
  margin: -958px auto 0 calc(((100% - 1920px) / 2)  + 360px);
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-1 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-2 {
  height: 276px;
  width: 361px;
  margin: -105px calc(((100% - 1140px) / 2)  + 323px) 0 auto;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-2 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-2 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-3 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-3 {
  height: 276px;
  width: 361px;
  margin: 12px auto 0 calc(((100% - 1920px) / 2)  + 333px);
}

.u-section-1 .u-carousel-indicators-3 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-3 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-3 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-5 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-6 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-4 {
  height: 285px;
  width: 373px;
  margin: -173px calc(((100% - 1920px) / 2)  + 610px) 0 auto;
}

.u-section-1 .u-carousel-indicators-4 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-4 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-4 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-7 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-8 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-5 {
  height: 303px;
  width: 243px;
  margin: 58px calc(((100% - 1140px) / 2)  + -25px) 0 auto;
}

.u-section-1 .u-carousel-indicators-5 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-5 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-5 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-9 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-10 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-6 {
  height: 221px;
  width: 289px;
  margin: -189px calc(((100% - 1920px) / 2)  + 785px) 0 auto;
}

.u-section-1 .u-carousel-indicators-6 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-6 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-6 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-11 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-12 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-7 {
  height: 235px;
  width: 308px;
  margin: -390px auto 0 calc(((100% - 1920px) / 2)  + 371px);
}

.u-section-1 .u-carousel-indicators-7 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-7 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-7 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-13 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-14 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-8 {
  height: 249px;
  width: 344px;
  margin: -1062px calc(((100% - 1920px) / 2)  + 323px) 0 auto;
}

.u-section-1 .u-carousel-indicators-8 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-8 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-8 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-15 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-16 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-image-1 {
  width: 151px;
  height: 142px;
  margin: 22px auto 0 calc(((100% - 1920px) / 2)  + 614px);
}

.u-section-1 .u-image-2 {
  width: 151px;
  height: 142px;
  margin: -86px calc(((100% - 1920px) / 2)  + 390px) 0 auto;
}

.u-section-1 .u-image-3 {
  width: 151px;
  height: 142px;
  margin: 751px calc(((100% - 1920px) / 2)  + 418px) 0 auto;
}

.u-section-1 .u-image-4 {
  width: 151px;
  height: 142px;
  margin: -45px calc(((100% - 1140px) / 2)  + 442px) 0 auto;
}

.u-section-1 .u-gallery-9 {
  height: 258px;
  width: 337px;
  margin: -83px auto 0 calc(((100% - 1920px) / 2)  + 428px);
}

.u-section-1 .u-carousel-indicators-9 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-9 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-9 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-17 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-18 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-10 {
  height: 251px;
  width: 328px;
  margin: -163px calc(((100% - 1920px) / 2)  + 323px) 0 auto;
}

.u-section-1 .u-carousel-indicators-10 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-10 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-10 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-19 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-20 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-image-5 {
  width: 151px;
  height: 142px;
  margin: -30px auto 0 calc(((100% - 1140px) / 2)  + 152px);
}

.u-section-1 .u-gallery-11 {
  height: 196px;
  width: 257px;
  margin: -156px auto 0 calc(((100% - 1920px) / 2)  + 810px);
}

.u-section-1 .u-carousel-indicators-11 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-11 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-11 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-21 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-22 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-image-6 {
  width: 151px;
  height: 142px;
  margin: 0 calc(((100% - 1920px) / 2)  + 457px) 0 auto;
}

.u-section-1 .u-gallery-12 {
  height: 212px;
  width: 278px;
  margin: -133px auto 0 calc(((100% - 1920px) / 2)  + 371px);
}

.u-section-1 .u-carousel-indicators-12 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-12 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-12 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-12 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-23 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-24 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-13 {
  height: 184px;
  width: 241px;
  margin: -129px calc(((100% - 1920px) / 2)  + 676px) 0 auto;
}

.u-section-1 .u-carousel-indicators-13 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-13 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-13 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-13 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-25 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-26 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-image-7 {
  width: 151px;
  height: 142px;
  margin: 143px auto 0 calc(((100% - 1920px) / 2)  + 438px);
}

.u-section-1 .u-gallery-14 {
  height: 276px;
  width: 361px;
  margin: -166px auto 0 calc(((100% - 1920px) / 2)  + 727px);
}

.u-section-1 .u-carousel-indicators-14 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-14 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-14 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-14 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-27 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-28 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-15 {
  height: 200px;
  width: 261px;
  margin: -313px calc(((100% - 1920px) / 2)  + 347px) 0 auto;
}

.u-section-1 .u-carousel-indicators-15 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-15 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-15 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-29 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-30 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-16 {
  height: 276px;
  width: 361px;
  margin: 202px auto 0 calc(((100% - 1920px) / 2)  + 416px);
}

.u-section-1 .u-carousel-indicators-16 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-16 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-16 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-16 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-31 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-32 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-17 {
  height: 276px;
  width: 361px;
  margin: -284px calc(((100% - 1920px) / 2)  + 429px) 0 auto;
}

.u-section-1 .u-carousel-indicators-17 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-17 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-17 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-17 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-33 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-34 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 2389px;
  height: 228px;
  margin: 1425px auto 0 -424px;
}

.u-section-1 .u-shape-1 {
  width: 2389px;
  height: 228px;
  --color-var: #202328;
  background-image: linear-gradient(#1a1a1a, rgba(219,84,90,0));
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
}

.u-section-1 .u-gallery-18 {
  height: 241px;
  width: 411px;
  margin: -1548px auto 0 calc(((100% - 1920px) / 2)  + 727px);
}

.u-section-1 .u-carousel-indicators-18 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-18 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-18 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-18 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-35 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-36 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-19 {
  height: 349px;
  width: 277px;
  margin: -87px calc(((100% - 1920px) / 2)  + 371px) 0 auto;
}

.u-section-1 .u-carousel-indicators-19 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-19 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-19 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-19 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-37 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-38 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-20 {
  height: 307px;
  width: 354px;
  margin: -24px auto 0 calc(((100% - 1920px) / 2)  + 405px);
}

.u-section-1 .u-carousel-indicators-20 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-20 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-20 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-20 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-39 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-40 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-21 {
  height: 240px;
  width: 314px;
  margin: -436px calc(((100% - 1920px) / 2)  + 744px) 0 auto;
}

.u-section-1 .u-carousel-indicators-21 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-21 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-21 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-21 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-41 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-42 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-22 {
  height: 229px;
  width: 300px;
  margin: 154px calc(((100% - 1920px) / 2)  + 703px) 0 auto;
}

.u-section-1 .u-carousel-indicators-22 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-22 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-22 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-22 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-43 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-44 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-image-8 {
  width: 151px;
  height: 142px;
  margin: -668px auto 0 calc(((100% - 1920px) / 2)  + 438px);
}

.u-section-1 .u-image-9 {
  width: 151px;
  height: 142px;
  margin: -308px auto 0 calc(((100% - 1920px) / 2)  + 484px);
}

.u-section-1 .u-image-10 {
  width: 151px;
  height: 142px;
  margin: 626px auto 0 calc(((100% - 1920px) / 2)  + 480px);
}

.u-section-1 .u-image-11 {
  width: 151px;
  height: 142px;
  margin: -9px auto 0 calc(((100% - 1920px) / 2)  + 857px);
}

.u-section-1 .u-image-12 {
  width: 151px;
  height: 142px;
  margin: -1240px calc(((100% - 1920px) / 2)  + 486px) 0 auto;
}

.u-section-1 .u-image-13 {
  width: 151px;
  height: 142px;
  margin: 564px calc(((100% - 1920px) / 2)  + 464px) 0 auto;
}

.u-section-1 .u-gallery-23 {
  height: 276px;
  width: 361px;
  margin: 401px auto 0 calc(((100% - 1920px) / 2)  + 371px);
}

.u-section-1 .u-carousel-indicators-23 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-23 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-23 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-23 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-45 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-46 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-gallery-24 {
  height: 276px;
  width: 361px;
  margin: -379px calc(((100% - 1920px) / 2)  + 390px) 0 auto;
}

.u-section-1 .u-carousel-indicators-24 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-24 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-24 {
  margin-right: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-over-slide-24 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-47 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-48 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-shape-2 {
  width: 2494px;
  height: 444px;
  margin: 184px auto 0 calc(((100% - 1920px) / 2)  + -282px);
}

.u-section-1 .u-image-14 {
  width: 290px;
  height: 206px;
  transition-duration: 0.5s;
  margin: -344px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 6618px;
  }

  .u-section-1 .u-video-1 {
    height: 570px;
    width: 940px;
    margin-top: -22px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    width: 940px;
    margin-top: 4901px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -4126px;
    margin-left: calc(((100% - 940px) / 2)  + -30px);
  }

  .u-section-1 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 0;
  }

  .u-section-1 .u-gallery-2 {
    margin-right: calc(((100% - 940px) / 2) + 323px);
  }

  .u-section-1 .u-carousel-item-2 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-3 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-4 {
    right: 0;
  }

  .u-section-1 .u-gallery-3 {
    margin-left: calc(((100% - 940px) / 2)  + -57px);
  }

  .u-section-1 .u-carousel-item-3 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-5 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-6 {
    right: 0;
  }

  .u-section-1 .u-gallery-4 {
    margin-right: calc(((100% - 940px) / 2)  + 220px);
  }

  .u-section-1 .u-carousel-item-4 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-7 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-8 {
    right: 0;
  }

  .u-section-1 .u-gallery-5 {
    margin-right: calc(((100% - 940px) / 2)  + -25px);
  }

  .u-section-1 .u-carousel-item-5 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-9 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-10 {
    right: 0;
  }

  .u-section-1 .u-gallery-6 {
    margin-right: calc(((100% - 940px) / 2)  + 395px);
  }

  .u-section-1 .u-carousel-item-6 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-11 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-12 {
    right: 0;
  }

  .u-section-1 .u-gallery-7 {
    margin-left: calc(((100% - 940px) / 2) + -19px);
  }

  .u-section-1 .u-carousel-item-7 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-13 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-14 {
    right: 0;
  }

  .u-section-1 .u-gallery-8 {
    margin-right: calc(((100% - 940px) / 2)  + -67px);
  }

  .u-section-1 .u-carousel-item-8 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-15 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-16 {
    right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2)  + 224px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2)  + 28px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2) + 442px);
  }

  .u-section-1 .u-gallery-9 {
    margin-left: calc(((100% - 940px) / 2)  + 38px);
  }

  .u-section-1 .u-carousel-item-9 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-17 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-18 {
    right: 0;
  }

  .u-section-1 .u-gallery-10 {
    margin-right: calc(((100% - 940px) / 2)  + -67px);
  }

  .u-section-1 .u-carousel-item-10 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-19 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-20 {
    right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 940px) / 2) + 152px);
  }

  .u-section-1 .u-gallery-11 {
    margin-left: calc(((100% - 940px) / 2)  + 420px);
  }

  .u-section-1 .u-carousel-item-11 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-21 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-22 {
    right: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: 1513px;
    margin-right: calc(((100% - 940px) / 2)  + 67px);
  }

  .u-section-1 .u-gallery-12 {
    margin-left: calc(((100% - 940px) / 2)  + -19px);
  }

  .u-section-1 .u-carousel-item-12 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-23 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-24 {
    right: 0;
  }

  .u-section-1 .u-gallery-13 {
    margin-right: calc(((100% - 940px) / 2)  + 286px);
  }

  .u-section-1 .u-carousel-item-13 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-25 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-26 {
    right: 0;
  }

  .u-section-1 .u-image-7 {
    margin-left: calc(((100% - 940px) / 2)  + 48px);
  }

  .u-section-1 .u-gallery-14 {
    margin-left: calc(((100% - 940px) / 2)  + 337px);
  }

  .u-section-1 .u-carousel-item-14 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-27 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-28 {
    right: 0;
  }

  .u-section-1 .u-gallery-15 {
    margin-right: calc(((100% - 940px) / 2)  + -43px);
  }

  .u-section-1 .u-carousel-item-15 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-29 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-30 {
    right: 0;
  }

  .u-section-1 .u-gallery-16 {
    margin-left: calc(((100% - 940px) / 2)  + -20px);
  }

  .u-section-1 .u-carousel-item-16 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-31 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-32 {
    right: 0;
  }

  .u-section-1 .u-gallery-17 {
    margin-right: calc(((100% - 940px) / 2)  + 39px);
  }

  .u-section-1 .u-carousel-item-17 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-33 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-34 {
    right: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 940px;
    height: 90px;
    margin-top: 1538px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 940px;
    height: 90px;
  }

  .u-section-1 .u-gallery-18 {
    margin-top: -1410px;
    margin-right: calc(((100% - 940px) / 2)  + 86px);
    margin-left: calc(((100% - 940px) / 2)  + 310px);
  }

  .u-section-1 .u-carousel-item-18 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-35 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-36 {
    right: 0;
  }

  .u-section-1 .u-gallery-19 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2)  + -29px);
  }

  .u-section-1 .u-carousel-item-19 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-37 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-38 {
    right: 0;
  }

  .u-section-1 .u-gallery-20 {
    margin-left: calc(((100% - 940px) / 2)  + 2px);
  }

  .u-section-1 .u-carousel-item-20 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-39 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-40 {
    right: 0;
  }

  .u-section-1 .u-gallery-21 {
    margin-right: calc(((100% - 940px) / 2)  + 341px);
  }

  .u-section-1 .u-carousel-item-21 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-41 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-42 {
    right: 0;
  }

  .u-section-1 .u-gallery-22 {
    margin-right: calc(((100% - 940px) / 2)  + 300px);
  }

  .u-section-1 .u-carousel-item-22 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-43 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-44 {
    right: 0;
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 940px) / 2)  + 409px);
  }

  .u-section-1 .u-image-9 {
    margin-left: calc(((100% - 940px) / 2)  + 94px);
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 940px) / 2)  + 116px);
  }

  .u-section-1 .u-image-11 {
    margin-left: calc(((100% - 940px) / 2)  + 467px);
  }

  .u-section-1 .u-image-12 {
    margin-right: calc(((100% - 940px) / 2)  + 133px);
  }

  .u-section-1 .u-image-13 {
    margin-right: calc(((100% - 940px) / 2)  + 91px);
  }

  .u-section-1 .u-gallery-23 {
    margin-left: calc(((100% - 940px) / 2)  + -30px);
  }

  .u-section-1 .u-carousel-item-23 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-45 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-46 {
    right: 0;
  }

  .u-section-1 .u-gallery-24 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-carousel-item-24 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-47 {
    left: 0;
  }

  .u-section-1 .u-carousel-control-48 {
    right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 940px;
    margin-top: 83px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-14 {
    margin: -231px calc(((100% - 940px) / 2)  + 92px) -2426px calc(((100% - 940px) / 2)  + 425px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 6485px;
  }

  .u-section-1 .u-video-1 {
    height: 1371px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
    margin-top: 3969px;
    margin-left: -857px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -5999px;
    margin-left: calc(((100% - 720px) / 2)  + -30px);
  }

  .u-section-1 .u-gallery-2 {
    margin-top: 93px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + -1px);
  }

  .u-section-1 .u-gallery-3 {
    margin-top: 17px;
    margin-right: calc(((100% - 720px) / 2)  + 16px);
    margin-left: auto;
  }

  .u-section-1 .u-gallery-4 {
    margin-top: 32px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-gallery-5 {
    margin-top: 242px;
    margin-right: calc(((100% - 720px) / 2)  + 35px);
  }

  .u-section-1 .u-gallery-6 {
    margin-top: -416px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + 25px);
  }

  .u-section-1 .u-gallery-7 {
    margin-top: -436px;
    margin-right: calc(((100% - 720px) / 2)  + 18px);
    margin-left: auto;
  }

  .u-section-1 .u-gallery-8 {
    margin-top: -1562px;
    margin-right: calc(((100% - 720px) / 2)  + 16px);
  }

  .u-section-1 .u-image-1 {
    margin-top: -415px;
    margin-left: calc(((100% - 720px) / 2)  + 64px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -193px;
    margin-right: calc(((100% - 720px) / 2)  + 39px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 2614px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + 99px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -2233px;
    margin-right: calc(((100% - 720px) / 2)  + 78px);
  }

  .u-section-1 .u-gallery-9 {
    margin-top: 1274px;
    margin-left: calc(((100% - 720px) / 2)  + 23px);
  }

  .u-section-1 .u-gallery-10 {
    margin-top: -35px;
    margin-right: calc(((100% - 720px) / 2)  + -11px);
  }

  .u-section-1 .u-image-5 {
    margin-top: 763px;
    margin-left: calc(((100% - 720px) / 2)  + 116px);
  }

  .u-section-1 .u-gallery-11 {
    margin-top: -982px;
    margin-left: calc(((100% - 720px) / 2)  + 41px);
  }

  .u-section-1 .u-image-6 {
    margin-top: 2957px;
    margin-right: calc(((100% - 720px) / 2)  + 35px);
  }

  .u-section-1 .u-gallery-12 {
    margin-top: -3113px;
    margin-right: calc(((100% - 720px) / 2)  + 48px);
    margin-left: auto;
  }

  .u-section-1 .u-gallery-13 {
    margin-top: 105px;
    margin-right: calc(((100% - 720px) / 2)  + 16px);
  }

  .u-section-1 .u-image-7 {
    margin-top: 473px;
    margin-right: calc(((100% - 720px) / 2)  + 31px);
    margin-left: auto;
  }

  .u-section-1 .u-gallery-14 {
    margin-top: -831px;
    margin-left: calc(((100% - 720px) / 2)  + 39px);
  }

  .u-section-1 .u-gallery-15 {
    margin-top: 125px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-gallery-16 {
    margin-top: 990px;
    margin-right: calc(((100% - 720px) / 2)  + -1px);
    margin-left: auto;
  }

  .u-section-1 .u-gallery-17 {
    margin-top: -779px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + 17px);
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 1027px;
    height: 69px;
    margin-top: 2049px;
    margin-right: auto;
    margin-left: -77px;
  }

  .u-section-1 .u-shape-1 {
    width: 1027px;
    height: 69px;
  }

  .u-section-1 .u-gallery-18 {
    margin-top: -2834px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + 31px);
  }

  .u-section-1 .u-gallery-19 {
    margin-top: 43px;
    margin-right: calc(((100% - 720px) / 2)  + -11px);
  }

  .u-section-1 .u-gallery-20 {
    margin-top: 719px;
    margin-right: calc(((100% - 720px) / 2)  + 6px);
    margin-left: auto;
  }

  .u-section-1 .u-gallery-21 {
    margin-top: -810px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + 17px);
  }

  .u-section-1 .u-gallery-22 {
    margin-top: 257px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + -24px);
  }

  .u-section-1 .u-image-8 {
    margin-top: 347px;
    margin-left: calc(((100% - 720px) / 2)  + 94px);
  }

  .u-section-1 .u-image-9 {
    margin-top: -408px;
    margin-left: calc(((100% - 720px) / 2)  + 64px);
  }

  .u-section-1 .u-image-10 {
    margin-top: 738px;
    margin-right: calc(((100% - 720px) / 2)  + 16px);
    margin-left: auto;
  }

  .u-section-1 .u-image-11 {
    margin-top: -142px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-12 {
    margin-top: -1970px;
    margin-right: calc(((100% - 720px) / 2)  + 50px);
  }

  .u-section-1 .u-image-13 {
    margin-top: 1359px;
    margin-right: calc(((100% - 720px) / 2)  + 156px);
  }

  .u-section-1 .u-gallery-23 {
    margin-top: -644px;
    margin-right: calc(((100% - 720px) / 2)  + 8px);
    margin-left: auto;
  }

  .u-section-1 .u-gallery-24 {
    margin-top: 133px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + -11px);
  }

  .u-section-1 .u-shape-2 {
    width: 1027px;
    margin-top: 442px;
    margin-left: calc(((100% - 720px) / 2)  + -127px);
  }

  .u-section-1 .u-image-14 {
    margin: -789px auto 60px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 7293px;
  }

  .u-section-1 .u-video-1 {
    height: 328px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 5818px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -4926px;
    margin-left: calc(((100% - 540px) / 2)  + -30px);
  }

  .u-section-1 .u-gallery-2 {
    margin-right: calc(((100% - 540px) / 2)  + 179px);
    margin-left: calc(((100% - 540px) / 2) + -1px);
  }

  .u-section-1 .u-gallery-3 {
    margin-right: calc(((100% - 540px) / 2) + 16px);
    margin-left: calc(((100% - 540px) / 2)  + -57px);
  }

  .u-section-1 .u-gallery-4 {
    margin-right: calc(((100% - 540px) / 2)  + 167px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-gallery-5 {
    margin-right: calc(((100% - 540px) / 2)  + -25px);
  }

  .u-section-1 .u-gallery-6 {
    margin-right: calc(((100% - 540px) / 2)  + 251px);
    margin-left: calc(((100% - 540px) / 2) + 25px);
  }

  .u-section-1 .u-gallery-7 {
    margin-right: calc(((100% - 540px) / 2) + 18px);
    margin-left: calc(((100% - 540px) / 2)  + -19px);
  }

  .u-section-1 .u-gallery-8 {
    margin-right: calc(((100% - 540px) / 2)  + -67px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2)  + 224px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2)  + 28px);
    margin-left: calc(((100% - 540px) / 2) + 99px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + 78px);
  }

  .u-section-1 .u-gallery-9 {
    margin-left: calc(((100% - 540px) / 2)  + 38px);
  }

  .u-section-1 .u-gallery-10 {
    margin-right: calc(((100% - 540px) / 2)  + -67px);
  }

  .u-section-1 .u-image-5 {
    margin-top: 20px;
    margin-left: calc(((100% - 540px) / 2)  + 152px);
  }

  .u-section-1 .u-gallery-11 {
    margin-top: 20px;
    margin-left: calc(((100% - 540px) / 2)  + 283px);
  }

  .u-section-1 .u-image-6 {
    margin-top: 1491px;
    margin-right: calc(((100% - 540px) / 2)  + 67px);
  }

  .u-section-1 .u-gallery-12 {
    margin-right: calc(((100% - 540px) / 2) + 48px);
    margin-left: calc(((100% - 540px) / 2)  + -19px);
  }

  .u-section-1 .u-gallery-13 {
    margin-right: calc(((100% - 540px) / 2)  + 286px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 540px) / 2) + 31px);
    margin-left: calc(((100% - 540px) / 2)  + 48px);
  }

  .u-section-1 .u-gallery-14 {
    margin-top: 20px;
    margin-left: calc(((100% - 540px) / 2)  + 179px);
  }

  .u-section-1 .u-gallery-15 {
    margin-right: calc(((100% - 540px) / 2)  + -43px);
  }

  .u-section-1 .u-gallery-16 {
    margin-right: calc(((100% - 540px) / 2) + -1px);
    margin-left: calc(((100% - 540px) / 2)  + -20px);
  }

  .u-section-1 .u-gallery-17 {
    margin-right: calc(((100% - 540px) / 2)  + -348px);
    margin-left: calc(((100% - 540px) / 2) + 17px);
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 540px;
    height: 36px;
    margin-top: 2469px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    height: 36px;
  }

  .u-section-1 .u-gallery-18 {
    margin-top: -2310px;
    margin-right: calc(((100% - 540px) / 2)  + 86px);
    margin-left: calc(((100% - 540px) / 2)  + 129px);
  }

  .u-section-1 .u-gallery-19 {
    margin-right: calc(((100% - 540px) / 2)  + -29px);
  }

  .u-section-1 .u-gallery-20 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2) + 6px);
    margin-left: calc(((100% - 540px) / 2)  + 2px);
  }

  .u-section-1 .u-gallery-21 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2)  + 226px);
    margin-left: calc(((100% - 540px) / 2) + 17px);
  }

  .u-section-1 .u-gallery-22 {
    margin-right: calc(((100% - 540px) / 2)  + 240px);
    margin-left: calc(((100% - 540px) / 2) + -24px);
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 540px) / 2)  + 389px);
  }

  .u-section-1 .u-image-9 {
    margin-left: calc(((100% - 540px) / 2)  + 94px);
  }

  .u-section-1 .u-image-10 {
    margin-right: calc(((100% - 540px) / 2) + 16px);
    margin-left: calc(((100% - 540px) / 2)  + 116px);
  }

  .u-section-1 .u-image-11 {
    margin-left: calc(((100% - 540px) / 2)  + 389px);
  }

  .u-section-1 .u-image-12 {
    margin-right: calc(((100% - 540px) / 2)  + 133px);
  }

  .u-section-1 .u-image-13 {
    margin-right: calc(((100% - 540px) / 2)  + 91px);
  }

  .u-section-1 .u-gallery-23 {
    margin-right: calc(((100% - 540px) / 2) + 8px);
    margin-left: calc(((100% - 540px) / 2)  + -30px);
  }

  .u-section-1 .u-gallery-24 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + -11px);
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-top: 50px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-14 {
    margin: -198px calc(((100% - 540px) / 2)  + 92px) -3694px calc(((100% - 540px) / 2)  + 250px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 9220px;
  }

  .u-section-1 .u-video-1 {
    height: 934px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 5278px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-gallery-1 {
    height: 172px;
    width: 233px;
    margin-top: -7002px;
    margin-right: calc(((100% - 340px) / 2)  + -25px);
    margin-left: auto;
  }

  .u-section-1 .u-gallery-2 {
    height: 239px;
    width: 295px;
    margin-top: 140px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + -27px);
  }

  .u-section-1 .u-gallery-3 {
    height: 218px;
    width: 268px;
    margin-top: 174px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-gallery-4 {
    height: 193px;
    width: 230px;
    margin-top: 71px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + 15px);
  }

  .u-section-1 .u-gallery-5 {
    height: 256px;
    width: 205px;
    margin-top: 741px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-gallery-6 {
    height: 199px;
    width: 260px;
    margin-top: -510px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-gallery-7 {
    height: 217px;
    width: 285px;
    margin-top: -626px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-gallery-8 {
    height: 151px;
    width: 206px;
    margin-top: -1709px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + -11px);
  }

  .u-section-1 .u-image-1 {
    margin-top: -148px;
    margin-right: calc(((100% - 340px) / 2)  + -29px);
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 664px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + -30px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 2432px;
    margin-right: calc(((100% - 340px) / 2)  + -25px);
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: -1787px;
    margin-right: calc(((100% - 340px) / 2)  + 19px);
  }

  .u-section-1 .u-gallery-9 {
    height: 214px;
    width: 280px;
    margin-top: 600px;
    margin-left: calc(((100% - 340px) / 2)  + -17px);
  }

  .u-section-1 .u-gallery-10 {
    height: 200px;
    width: 262px;
    margin-top: 71px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-5 {
    margin-top: 39px;
    margin-left: auto;
  }

  .u-section-1 .u-gallery-11 {
    margin-top: 60px;
    margin-left: calc(((100% - 340px) / 2)  + -19px);
  }

  .u-section-1 .u-image-6 {
    margin-top: 2038px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-gallery-12 {
    height: 172px;
    width: 226px;
    margin-top: -2018px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + -24px);
  }

  .u-section-1 .u-gallery-13 {
    margin-top: 34px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-7 {
    margin-top: 553px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + -17px);
  }

  .u-section-1 .u-gallery-14 {
    height: 195px;
    width: 240px;
    margin-top: -348px;
    margin-right: calc(((100% - 340px) / 2)  + -16px);
    margin-left: auto;
  }

  .u-section-1 .u-gallery-15 {
    margin-top: 718px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-gallery-16 {
    height: 195px;
    width: 240px;
    margin-top: -449px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-gallery-17 {
    height: 226px;
    width: 278px;
    margin-top: -1156px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 447px;
    height: 201px;
    margin-top: 4697px;
    margin-right: -6px;
  }

  .u-section-1 .u-shape-1 {
    width: 447px;
    height: 201px;
  }

  .u-section-1 .u-gallery-18 {
    height: 191px;
    width: 269px;
    margin-top: -4404px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + -14px);
  }

  .u-section-1 .u-gallery-19 {
    height: 277px;
    width: 220px;
    margin-top: 703px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-gallery-20 {
    height: 213px;
    width: 246px;
    margin-top: 65px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + -11px);
  }

  .u-section-1 .u-gallery-21 {
    height: 192px;
    width: 251px;
    margin-top: 956px;
    margin-right: calc(((100% - 340px) / 2)  + 34px);
    margin-left: auto;
  }

  .u-section-1 .u-gallery-22 {
    margin-top: -531px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-8 {
    margin-top: 1287px;
    margin-left: auto;
  }

  .u-section-1 .u-image-9 {
    margin-top: -481px;
    margin-left: auto;
  }

  .u-section-1 .u-image-10 {
    margin-top: -1477px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + 19px);
  }

  .u-section-1 .u-image-11 {
    margin-top: 628px;
    margin-left: auto;
  }

  .u-section-1 .u-image-12 {
    margin-top: 122px;
    margin-right: auto;
  }

  .u-section-1 .u-image-13 {
    margin-top: -1609px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + 51px);
  }

  .u-section-1 .u-gallery-23 {
    height: 174px;
    width: 214px;
    margin-top: 36px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-gallery-24 {
    height: 203px;
    width: 250px;
    margin-top: 2011px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 582px;
    margin-top: 363px;
    margin-left: -48px;
  }

  .u-section-1 .u-image-14 {
    width: 264px;
    height: 188px;
    margin: -726px auto 60px;
  }
}

.u-section-1 .u-image-14,
.u-section-1 .u-image-14:before,
.u-section-1 .u-image-14 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-14.u-image-14.u-image-14:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-14.u-image-14.u-image-14.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}body{
  background-color:black;
} 