 .u-section-1 {
  min-height: 3002px;
}

.u-section-1 .u-video-1 {
  width: 711px;
  height: 400px;
  margin: 67px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-video-poster-1 {
  background-image: url("images/thumb5.jpg");
}

.u-section-1 .u-image-2 {
  width: 151px;
  height: 142px;
  margin: -271px calc(((100% - 1920px) / 2)  + 138px) 0 auto;
}

.u-section-1 .u-image-3 {
  width: 151px;
  height: 142px;
  margin: 31px auto 0 calc(((100% - 1920px) / 2)  + 114px);
}

.u-section-1 .u-image-4 {
  width: 151px;
  height: 142px;
  margin: -156px calc(((100% - 1920px) / 2)  + 136px) 0 auto;
}

.u-section-1 .u-image-5 {
  width: 151px;
  height: 142px;
  margin: -470px calc(((100% - 1920px) / 2)  + 136px) 0 auto;
}

.u-section-1 .u-image-6 {
  width: 151px;
  height: 142px;
  margin: -142px auto 0 calc(((100% - 1920px) / 2)  + 114px);
}

.u-section-1 .u-image-7 {
  width: 151px;
  height: 142px;
  margin: 27px auto 0 calc(((100% - 1920px) / 2)  + 114px);
}

.u-section-1 .u-text-1 {
  width: 813px;
  font-size: 1.125rem;
  margin: 181px auto 0;
}

.u-section-1 .u-image-8 {
  width: 151px;
  height: 142px;
  margin: -169px auto 0 calc(((100% - 1920px) / 2)  + 112px);
}

.u-section-1 .u-image-9 {
  width: 151px;
  height: 142px;
  margin: -142px calc(((100% - 1920px) / 2)  + 136px) 0 auto;
}

.u-section-1 .u-image-10 {
  width: 151px;
  height: 142px;
  margin: -322px auto 0 calc(((100% - 1920px) / 2)  + 112px);
}

.u-section-1 .u-image-11 {
  width: 151px;
  height: 142px;
  margin: -142px calc(((100% - 1920px) / 2)  + 136px) 0 auto;
}

.u-section-1 .u-video-2 {
  width: 728px;
  height: 410px;
  margin: 257px auto 0;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-1 .u-video-poster-2 {
  background-image: url("images/thumb4.jpg");
}

.u-section-1 .u-text-2 {
  width: 813px;
  font-size: 1.125rem;
  margin: 67px auto 0;
}

.u-section-1 .u-video-3 {
  width: 728px;
  height: 410px;
  filter: none;
  margin: 52px auto 0;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-1 .u-video-poster-3 {
  width: 100%;
  height: 100%;
  background-image: url("images/thumb3.jpg");
  left: 0;
  top: 0;
}

.u-section-1 .u-text-3 {
  width: 813px;
  font-size: 1.125rem;
  margin: 27px auto 0;
}

.u-section-1 .u-image-12 {
  width: 290px;
  height: 206px;
  transition-duration: 0.5s;
  margin: 100px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 978px;
  margin-top: -926px;
  margin-bottom: 14px;
  width: 2020px;
  margin-left: 2020px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2)  + 138px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + 114px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2) + 136px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 940px) / 2)  + 136px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 940px) / 2)  + 114px);
  }

  .u-section-1 .u-image-7 {
    margin-left: calc(((100% - 940px) / 2)  + 114px);
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 940px) / 2)  + 112px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 940px) / 2)  + 136px);
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 940px) / 2)  + 112px);
  }

  .u-section-1 .u-image-11 {
    margin-right: calc(((100% - 940px) / 2)  + 136px);
  }

  .u-section-1 .u-custom-html-1 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2992px;
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2)  + 138px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 114px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2) + 136px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 720px) / 2)  + 136px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 720px) / 2)  + 114px);
  }

  .u-section-1 .u-image-7 {
    margin-left: calc(((100% - 720px) / 2)  + 114px);
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 720px) / 2) + 112px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 720px) / 2) + 136px);
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 720px) / 2)  + 112px);
  }

  .u-section-1 .u-image-11 {
    margin-right: calc(((100% - 720px) / 2)  + 136px);
  }

  .u-section-1 .u-video-2 {
    width: 720px;
    height: 405px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-video-3 {
    width: 720px;
    height: 405px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2694px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -175px;
    margin-right: calc(((100% - 540px) / 2) + 138px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + 114px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + 136px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 540px) / 2)  + 136px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 540px) / 2) + 114px);
  }

  .u-section-1 .u-image-7 {
    margin-left: calc(((100% - 540px) / 2)  + 114px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 540px) / 2)  + 112px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 540px) / 2)  + 136px);
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 540px) / 2)  + 112px);
  }

  .u-section-1 .u-image-11 {
    margin-right: calc(((100% - 540px) / 2)  + 136px);
  }

  .u-section-1 .u-video-2 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-1 .u-video-3 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2355px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -62px;
    margin-right: calc(((100% - 340px) / 2) + 138px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2) + 114px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 340px) / 2) + 136px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 340px) / 2)  + 136px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 340px) / 2) + 114px);
  }

  .u-section-1 .u-image-7 {
    margin-left: calc(((100% - 340px) / 2)  + 114px);
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    width: 340px;
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 340px) / 2) + 112px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 340px) / 2)  + 136px);
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 340px) / 2)  + 112px);
  }

  .u-section-1 .u-image-11 {
    margin-right: calc(((100% - 340px) / 2)  + 136px);
  }

  .u-section-1 .u-video-2 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    width: 340px;
  }

  .u-section-1 .u-video-3 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    width: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}

.u-section-1 .u-image-12,
.u-section-1 .u-image-12:before,
.u-section-1 .u-image-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-12.u-image-12.u-image-12:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-12.u-image-12.u-image-12.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}