 .u-section-1 {
  min-height: 3075px;
}

.u-section-1 .u-video-1 {
  width: 711px;
  height: 400px;
  margin: 67px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-image-2 {
  width: 151px;
  height: 142px;
  margin: -271px auto 0 calc(((100% - 1920px) / 2)  + 114px);
}

.u-section-1 .u-image-3 {
  width: 151px;
  height: 142px;
  margin: -142px calc(((100% - 1920px) / 2)  + 138px) 0 auto;
}

.u-section-1 .u-image-4 {
  width: 151px;
  height: 142px;
  margin: 31px auto 0 calc(((100% - 1920px) / 2)  + 114px);
}

.u-section-1 .u-image-5 {
  width: 151px;
  height: 142px;
  margin: -156px calc(((100% - 1920px) / 2)  + 136px) 0 auto;
}

.u-section-1 .u-text-1 {
  width: 813px;
  font-size: 1.125rem;
  margin: 22px auto 0;
}

.u-section-1 .u-image-6 {
  width: 151px;
  height: 142px;
  margin: -349px auto 0 calc(((100% - 1920px) / 2)  + 112px);
}

.u-section-1 .u-image-7 {
  width: 151px;
  height: 142px;
  margin: -142px calc(((100% - 1920px) / 2)  + 136px) 0 auto;
}

.u-section-1 .u-image-8 {
  width: 151px;
  height: 142px;
  margin: 38px auto 0 calc(((100% - 1920px) / 2)  + 112px);
}

.u-section-1 .u-image-9 {
  width: 151px;
  height: 142px;
  margin: -142px calc(((100% - 1920px) / 2)  + 136px) 0 auto;
}

.u-section-1 .u-video-2 {
  width: 728px;
  height: 410px;
  margin: 77px auto 0;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-1 .u-text-2 {
  width: 813px;
  font-size: 1.125rem;
  margin: 67px auto 0;
}

.u-section-1 .u-video-3 {
  width: 728px;
  height: 410px;
  margin: 52px auto 0;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
}

.u-section-1 .u-text-3 {
  width: 813px;
  font-size: 1.125rem;
  margin: 27px auto 0;
}

.u-section-1 .u-image-10 {
  width: 290px;
  height: 206px;
  transition-duration: 0.5s;
  margin: 100px auto 0;
}

.u-section-1 .u-image-11 {
  width: 151px;
  height: 142px;
  margin: -2908px calc(((100% - 1920px) / 2)  + 136px) 0 auto;
}

.u-section-1 .u-image-12 {
  width: 151px;
  height: 142px;
  margin: -142px auto 60px calc(((100% - 1920px) / 2)  + 114px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2)  + 114px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2)  + 136px);
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2)  + 112px);
  }

  .u-section-1 .u-image-5 {
    margin-right: calc(((100% - 940px) / 2)  + 136px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 940px) / 2)  + 112px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 940px) / 2)  + 136px);
  }

  .u-section-1 .u-image-8 {
    margin-left: calc(((100% - 940px) / 2)  + 112px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 940px) / 2)  + 136px);
  }

  .u-section-1 .u-video-3 {
    margin-left: calc(((100% - 940px) / 2)  + 212px);
  }

  .u-section-1 .u-image-11 {
    margin-right: calc(((100% - 940px) / 2)  + 136px);
  }

  .u-section-1 .u-image-12 {
    margin-left: calc(((100% - 940px) / 2)  + 114px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 3151px;
  }

  .u-section-1 .u-video-1 {
    width: 438px;
    height: 360px;
    margin-top: 18px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -182px;
    margin-left: calc(((100% - 720px) / 2)  + -52px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2)  + -28px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 49px;
    margin-left: calc(((100% - 720px) / 2)  + -52px);
  }

  .u-section-1 .u-image-5 {
    margin-top: -142px;
    margin-right: calc(((100% - 720px) / 2)  + -28px);
  }

  .u-section-1 .u-text-1 {
    width: 446px;
    margin-top: -169px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -473px;
    margin-left: calc(((100% - 720px) / 2)  + -52px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 720px) / 2)  + -28px);
  }

  .u-section-1 .u-image-8 {
    margin-top: 43px;
    margin-left: calc(((100% - 720px) / 2)  + -52px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 720px) / 2)  + -28px);
  }

  .u-section-1 .u-video-2 {
    width: 474px;
    height: 267px;
    margin-top: 195px;
  }

  .u-section-1 .u-text-2 {
    width: 474px;
    margin-top: 49px;
  }

  .u-section-1 .u-video-3 {
    width: 474px;
    height: 405px;
    margin-top: -29px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: 474px;
    margin-top: -38px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 38px;
  }

  .u-section-1 .u-image-11 {
    margin-top: -3109px;
    margin-right: calc(((100% - 720px) / 2)  + -28px);
  }

  .u-section-1 .u-image-12 {
    margin-left: calc(((100% - 720px) / 2)  + -52px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2951px;
  }

  .u-section-1 .u-video-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-top: -222px;
    margin-left: calc(((100% - 540px) / 2)  + 114px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2)  + 136px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 29px;
    margin-left: calc(((100% - 540px) / 2)  + -52px);
  }

  .u-section-1 .u-image-5 {
    margin-top: -122px;
    margin-right: calc(((100% - 540px) / 2)  + 389px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
    font-size: 1rem;
  }

  .u-section-1 .u-image-6 {
    margin-top: -373px;
    margin-left: calc(((100% - 540px) / 2)  + -52px);
  }

  .u-section-1 .u-image-7 {
    margin-top: -122px;
    margin-right: calc(((100% - 540px) / 2)  + 136px);
  }

  .u-section-1 .u-image-8 {
    margin-top: 29px;
    margin-left: calc(((100% - 540px) / 2)  + -52px);
  }

  .u-section-1 .u-image-9 {
    margin-top: -122px;
    margin-right: calc(((100% - 540px) / 2)  + 136px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-video-3 {
    margin-top: 36px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-top: 43px;
    font-size: 1rem;
  }

  .u-section-1 .u-image-11 {
    margin-top: -2961px;
    margin-right: calc(((100% - 540px) / 2)  + 136px);
  }

  .u-section-1 .u-image-12 {
    margin-left: calc(((100% - 540px) / 2)  + -52px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2612px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 279px;
    margin-top: -8px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -295px;
    margin-right: calc(((100% - 340px) / 2)  + -151px);
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 434px;
    margin-right: calc(((100% - 340px) / 2)  + -151px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -531px;
    margin-left: calc(((100% - 340px) / 2)  + -125px);
  }

  .u-section-1 .u-image-5 {
    margin-top: 247px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + -125px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 0.875rem;
    margin-top: -427px;
    margin-right: calc(((100% - 340px) / 2)  + -12px);
    margin-left: calc(((100% - 340px) / 2)  + 12px);
  }

  .u-section-1 .u-image-6 {
    margin-top: -828px;
    margin-left: calc(((100% - 340px) / 2)  + -125px);
  }

  .u-section-1 .u-image-7 {
    margin-top: 52px;
    margin-right: calc(((100% - 340px) / 2)  + -151px);
  }

  .u-section-1 .u-image-8 {
    margin-top: 50px;
    margin-left: calc(((100% - 340px) / 2)  + -125px);
  }

  .u-section-1 .u-image-9 {
    margin-top: -142px;
    margin-right: calc(((100% - 340px) / 2)  + -151px);
  }

  .u-section-1 .u-video-2 {
    width: 340px;
    height: 192px;
    margin-top: 331px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    font-size: 0.875rem;
    margin-top: 14px;
  }

  .u-section-1 .u-video-3 {
    width: 340px;
    height: 291px;
    margin-top: 38px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    font-size: 0.875rem;
    margin-top: 14px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 14px;
  }

  .u-section-1 .u-image-11 {
    margin-top: -2255px;
    margin-right: -604px;
  }

  .u-section-1 .u-image-12 {
    margin-top: -745px;
    margin-left: calc(((100% - 340px) / 2)  + -125px);
  }
}

.u-section-1 .u-image-10,
.u-section-1 .u-image-10:before,
.u-section-1 .u-image-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-10.u-image-10.u-image-10:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-10.u-image-10.u-image-10.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}